<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="navigation">
        <a href="/users" class="nav-link">Users</a>
        <a href="/student" class="nav-link">Student</a>
        <a href="/add-student" class="nav-link">Add Student</a>
    </div>
    <h1>Student</h1>
    <p>Added Student Information:</p>
    <p>First Name: <%= firstName %></p>
    <p>Last Name: <%= lastName %></p>
    <p>Major: <%= major %></p>
</body>
</html>